<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/header') %>
</head>
<body>
<%- include('../components/navigation') %>

<section class="blog-area section">
    <div class="container">

        <h3>Dashboard</h3>

    </div>
</section>

<%- include('../components/footer') %>
</body>
</html>
