<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-section">
                    <a class="logo" href="#"><img src="/dist/img/logo.png" alt="Kuote"></a>
                    <p class="copyright">Kuote &copy; <%= (new Date()).getFullYear() %>. All rights reserved.</p>
                    <p class="copyright">Designed by <a href="http://angga-ari.com" target="_blank">Angga Ari Wijaya</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-section">
                    <h4 class="title"><b>CATEGORIES</b></h4>
                    <ul>
                        <li><a href="/category/beauty">BEAUTY</a></li>
                        <li><a href="/category/health">HEALTH</a></li>
                        <li><a href="/category/life">LIFE</a></li>
                    </ul>
                    <ul>
                        <li><a href="/category/social">SOCIAL</a></li>
                        <li><a href="/category/motivation">MOTIVATION</a></li>
                        <li><a href="/category/happy">HAPPY</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-section">
                    <h4 class="title"><b>SUBSCRIBE</b></h4>
                    <div class="input-area">
                        <form>
                            <input class="email-input" type="text" placeholder="Enter your email">
                            <button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<%- include('modals/_alert') %>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/dist/app.bundle.js"></script>