<header>
    <div class="container-fluid position-relative no-side-padding">

        <a href="/" class="logo"><img src="/dist/img/logo.png" alt="Kuote"></a>

        <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

        <ul class="main-menu visible-on-click" id="main-menu">
            <li class="<%= _path == '/quotes/popular' ? 'active' : '' %>">
                <a href="/quotes/popular">Most Popular</a>
            </li>
            <% if(!isAuthenticated) { %>
                <li class="<%= _path == '/login' || _path == '/register' ? 'active' : '' %>">
                    <a href="/login">Login</a>
                </li>
            <% } else { %>
                <li class="<%= _path == '/quotes' ? 'active' : '' %>">
                    <a href="/quotes">My Quotes</a>
                </li>
            <% } %>
        </ul>

        <div class="src-area">
            <form action="/search" class="no-validation">
                <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                <input class="src-input" name="q" type="text" value="<%= typeof q != "undefined" ? q : '' %>"
                       required placeholder="Type of search">
            </form>
        </div>
    </div>
</header>