<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header') %>
</head>
<body>
<%- include('components/navigation') %>

<div class="container py-5" style="min-height: 320px">
    <h2 class="mb-2">Page Not Found</h2>
    <p>Error 404, <a href="/" class="text-primary">click here</a> or try another location</p>
</div>

<%- include('components/footer') %>
</body>
</html>