<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header') %>
</head>
<body>
<%- include('components/navigation') %>

<div class="container py-5" style="min-height: 320px">
    <h2 class="mb-2">Server error occurred</h2>
    <p>We're working on fixing this, sorry for the inconvenience!</p>
</div>

<%- include('components/footer') %>
</body>
</html>