<div class="btn-group" style="position: absolute; right: 10px; top: 10px">
    <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/quotes/<%= quote.id %>/edit">
            <i class="ion-ios-compose mr-2"></i> Edit
        </a>
        <a class="dropdown-item" href="/quotes/share">
            <i class="ion-android-share mr-2"></i> Share
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item btn-delete" data-label="<%= quote.quote %>" href="/quotes/<%= quote.id %>">
            <i class="ion-trash-b mr-2"></i> Delete
        </a>
    </div>
</div>