<div class="btn-group" style="position: absolute; right: 10px; top: 10px">
    <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/quotes/<%= quote.id %>/edit">Edit</a>
        <a class="dropdown-item" href="/quotes/share">Share</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/quotes">Delete</a>
    </div>
</div>