<div class="modal fade" id="modal-share" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share Quote</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center mb-4">
                    <p class="quote-title lead"></p>
                    <p class="quote-author text-muted"></p>
                </div>

                <ul class="text-center pb-3">
                    <li>
                        <a href="#" title="Share on Facebook" target="_blank" class="btn btn-facebook">
                            <i class="ion-social-facebook mr-2"></i> Share on Facebook</a>
                    </li>
                    <li>
                        <a href="#" title="Share on Twitter" target="_blank" class="btn btn-twitter">
                            <i class="ion-social-twitter mr-2"></i> Share on Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin">
                            <i class="ion-social-linkedin mr-2"></i> Share on LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Share via Email" class="btn btn-email">
                            <i class="ion-ios-email mr-2"></i> Share via Email
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>