<div class="single-post simple-post">
    <div class="display-table">
        <h4 class="title display-table-cell">
            <a href="#">
                <b>
                    How Did Van Gogh's Turbulent Mind Depict One of the Most Complex
                    Concepts in Physics?
                </b>
            </a>
        </h4>
    </div>
    <ul class="post-footer">
        <li><a href="#"><i class="ion-heart"></i>57</a></li>
        <li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
        <li><a href="#"><i class="ion-eye"></i>138</a></li>
    </ul>
</div>